<html>
  <head>
    <meta charset="utf-8" />
    <title>게시글 검색</title>
    <link rel="stylesheet" type="text/css" href="/css/search_post.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/search_post.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-default" , style="font-family: 'GmarketSansBold';">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/posts/write">게시글 작성</a></li>
            <li><a href="/posts">게시글 검색</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">회원가입</a></li>
            <li><a href="/login">로그인</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main">
      <div class="form-group has-search">
        <input type="text" class="form-control" placeholder="사연을 검색해주세요." />
        <input type="submit" value="검색" />
      </div>
    </div>
    <div class="container">
      <div class="results">
        <h2 class="main">검색결과</h2>
        <div id="contents"></div>
      </div>
      <div class="results2">
        <h2 class="main">추천 대상들</h2>
        <div id="contents2"></div>
      </div>
    </div>
    <script src="/js/search_post.js"></script>
  </body>
</html>
