@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
.main {
  padding-left: 3rem;
  padding-top: 2rem;
  margin: 10px auto;
}

h2 {
  font-family: 'GmarketSansBold';
  text-align: center;
}

input {
  font-family: 'GmarketSansLight';
}

article {
  font-family: 'GmarketSansLight';
}

.has-search .form-control {
  padding-left: 0.5rem;
  width: 300px;
  height: 30px;
  font-size: 20px;
  display:inline-block;
}

.container {
  display: flex;
  margin: 0px 5vw 0px 5vw;
}

.container > div.results {
  flex: 2;
}

.container > div.results2 {
  flex: 1;
}

.posts {
  border-radius: 5px;
  box-shadow: inset 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.no {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 100px;
  height: 10px;
  background-color: #A3BAD6;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.who {
  font-size: 20px;
  margin-left: 10px;
}

.when {
  font-size: 20px;
  margin-left: 10px;
}

.where {
  font-size: 20px;
  margin-left: 10px;
}

.keyword {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
  color: #8C8A87;
}

.article-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 200px;
  height: 20px;
  background-color: #42648f;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}